# Ignore everything in the context
/*

# Allow necessary files
!pom.xml
!src/
!target/Appointment-And-Patient-MS-0.0.1-SNAPSHOT.jar

# Exclude IDE and build tool configs
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/
/.vscode/

# Ignore any environment-dependent configs unless needed
/src/main/resources/application-*.yml
!/src/main/resources/application-dev.yml
!/src/main/resources/application-test.yml