# Ignore everything
/*

# Allow target directory
!/target/

# Allow the .jar file inside target/
!/target/Appointment-And-Patient-MS-0.0.1-SNAPSHOT.jar

# Allow pom.xml explicitly
!pom.xml

# Allow src directory explicitly
!src/

# Exclude IDE and build tool directories
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/
/.vscode/

# Ignore application-*.yml files, but include specific ones
/src/main/resources/application-*.yml
!/src/main/resources/application-dev.yml
!/src/main/resources/application-test.yml